/* Color */
:root {
    --colorPrimary:    #8191d9;
    --colorSecondary:  #dc4a67;
    --colorBackground: #002b36;
    --colorError:      #e54f29;
    --colorItem:       #4adc84;
}

body {
    background: var(--colorBackground);
    color: var(--colorPrimary);
}

h1, input[type="text"] {
    text-align: center;
}

#display-errors, #add-item-form, input[type="button"], 
#display-items, #item-list > li, .remove-item {
    margin: auto;
    border-radius: .5em;
}

#add-item-form, #display-items {
    width: 26em;
    padding: 1em 1em;
}

#display-errors {
    width: fit-content;
}

#error-list {
    padding-left: 1.5em;
    list-style-type: square;
    color: var(--colorError);
}

#add-item-form {
    border: 3px solid var(--colorSecondary);
}

label {
    float: left;
    width: 7em;
    text-align: right;
}

input[type="text"] {
    width: 18.5em;   
    height: 1.5em;
    margin: 0 .5em .5em;
    background: var(--colorPrimary);
    color: var(--colorBackground);
    border: 1px solid var(--colorBackground);
}

.qs-datepicker {
    background: var(--colorPrimary);
}

.qs-day {
    color: var(--colorSecondary) !important;
}

input[type="button"] {
    width: 8em;   
    height: 2.5em;
    margin-top: .5em;
    display: block;
    background: none;
    color: var(--colorPrimary);
    border: 3px solid var(--colorSecondary);
}

input[type="button"]:hover {
    cursor: pointer;
    transition: all .5s;
    background: var(--colorSecondary);
    color: var(--colorBackground);
}

#item-list {
    margin: 0;
    padding: 0;
}

#item-list > li {
    box-sizing: border-box;
    position: relative;
    padding: 1em 1em;
    margin-top: .5em;
    list-style-type: none;
    background: var(--colorError);
    color: var(--colorBackground);
}

#item-list > li:hover {
    cursor: pointer;
    transition: all .5s;
    color: black;
    opacity: .8;
}

#item-list > .completed {
    text-decoration: line-through;
    background: var(--colorItem);
}

.remove-item {
    padding: .4em .5em;
    position: absolute;
    right: 0;
    top: 0;
}

.remove-item:hover {
    background: var(--colorPrimary);
}